 .page-title {
   color: #004a8c;
   text-align: center;
   margin-bottom: 20px;
 }


 /* Estilos para la lista de horarios */
 .showtime-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   list-style: none;
   padding: 0;
   margin: auto;
   max-width: 70vw;
 }

 @media screen and (max-width: 767px) {

   .showtime-list {
     max-width: 95vw;
   }
 }

 .showtime-card {
   border: 1px solid #ddd;
   border-radius: 10px;
   margin: 20px;
   width: 100%;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   background-color: #fff;
   transition: transform 0.3s ease-in-out;
 }

 .showtime-card:hover {
   transform: translateY(-2px);
 }

 .showtime-info {
   padding: 10px;
   margin: auto;
   font-size: 16px;
   text-align: center;
   color: #555;
   display: block;
   font-weight: bold;
 }

 .reserve-button {
   background-color: #004a8c;
   color: #fff;
   border: none;
   padding: 12px 20px;
   border-radius: 0 0 10px 10px;
   cursor: pointer;
   transition: background-color 0.3s ease-in-out;
   width: 100%;
   box-sizing: border-box;
 }

 .reserve-button:hover {
   background-color: #0c395f;
 }
